body{
    background-image: url('bg.png');
    
    overflow-x: hidden;
    
}
a{
    text-decoration: none;
}
.intro{
   color:aliceblue;
   font-size: xx-large;
   font-weight: bold;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-transform: uppercase;
   letter-spacing: 1.5px;
   padding: 5%;
}

.headline{
    color:rgb(236, 239, 242);
    font-size: xx-large;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    margin: 10px;
    padding: 2.5%;
   }

.card-title{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.card-text{
    color:rgb(61, 61, 61);
}


.nav-item{
    text-align: center;
    margin-left: 2em;
}

#about{
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}

#id{
    text-align: center;
}

.name{
    color:rgb(60, 60, 60);
    font-style: italic;
}

.container{
    margin: 0 auto;
}

.btn btn-primary{
    margin:2px;
}
.mentor{
    margin: 0 auto;
    align-items: center;
}

#test{
    margin:10px;
}





